<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

<p>
  <%= link_to 'Edit', edit_question_path(@question), {:class => 'btn'} %>
</p>
<p>
  <%= link_to('Back to questions', {controller: "questions"})  %>
</p>