<div class="hero-unit">
	<h1>Welcome to the Coding Challenge</h1>
	<p>Ready to take the test?</p>
	<p>
    <%= link_to 'Begin challenge »', { controller: "challenge" }, {:class => "btn btn-primary btn-large"} %>
	</p>
</div>

<div class="row">
	<div class="span6">
		<h2>Are you a Challenge Master?</h2>
  	<p>
  		<%= link_to('View tests »', { controller: "questions" }, 
                  {:class => 'btn'})  %>
		</p>
	</div>
</div>