= render 'layouts/header'

.container
  .hero-unit
    %h1 Welcome to the Coding Challenge
    %p Ready to take the challenge?
    %p= link_to 'Begin challenge »', challenge_environment_path,
      :class => 'btn btn-primary btn-large'

  .row
    .span6
      %h2 Are you a Challenge Master?
      %p= link_to 'View challenges »', challenges_path,
        :class => 'btn'

  = render 'layouts/footer'
