= render 'layouts/header'

.container
  %h1 The Challenge Begins


  %pre.language-javascript
    %code
      :plain
        if (Prism.languages.markup) {

        // Tokenize all inline PHP blocks that are wrapped in <?php ?>
        // This allows for easy PHP + markup highlighting
        Prism.hooks.add('before-highlight', function(env) {
          if (env.language !== 'php') {
            return;
          }

          env.tokenStack = [];

          env.code = env.code.replace(/(?:&lt;\?php|&lt;\?|<\?php|<\?)[\w\W]*?(?:\?&gt;|\?>)/ig, function(match) {
            env.tokenStack.push(match);

            return '{{{PHP' + env.tokenStack.length + '}}}';
          });
        });

  %textarea#challenge-box{ :rows => '3' }

  = render 'layouts/footer'
