<% content_for :title do %>
  Edit page
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      NewQuestionInTest("#new-question-btn", "#question-form");
    });
  </script>
<% end %>

<h1>Editing test</h1>

<%= render 'form' %>

<%= link_to 'Show', @test %> |
<%= link_to 'Back', tests_path %>
