<% content_for :title do %>
  New Test
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      NewQuestionInTest("#new-question-btn", "#question-form");
    });
  </script>
<% end %>

<h1>New test</h1>

<%= render 'form' %>

<%= link_to 'Back', tests_path %>
